/sfs_client/target
/sfs_client/cargo.lock
/sfs_server/target
/sfs_server/cargo.lock
/sfs_rpc/target
/sfs_rpc/cargo.lock
/sfs_global/target
/sfs_global/cargo.lock
/sfs_rdma/target
/sfs_rdma/cargo.lock
/.vscode
/wrapper/libsfs_client.a
/wrapper/call_rust
/wrapper/hostfile
/sfs_server/hostfile
/sfs_client/hostfile
/wrapper/libsfs_client.a
/wrapper/libsfs_client.so
/wrapper/test
/wrapper/test.cpp
/wrapper/a.out
/wrapper/build_test.sh

/arch.sh
/sfs_1.tar
/sfs_2.tar

/sfs_client/.cargo
/sfs_client/vendor
/sfs_server/.cargo
/sfs_server/vendor
/sfs_global/.cargo
/sfs_global/vendor
/sfs_rpc/.cargo
/sfs_rpc/vendor
/sfs_rdma/.cargo
/sfs_rdma/vendor